<!-- <nz-list [nzDataSource]="users" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card>
          <div>{{ item.id }}</div>
          <div>{{ item.email }}</div>
          <div>{{ item.first_name }}</div>
          <div>{{ item.last_name }}</div>
          <div><img src="{{item.avatar}}" height="32" width="32"></div>
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list> -->


<nz-list [nzDataSource]="users" [nzItemLayout]="'vertical'" [nzRenderItem]="item">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="item.email" [nzActions]="[starAction, likeAction, msgAction]" [nzExtra]="extra">
      <ng-template #starAction>
        <i nz-icon nzType="star-o" style="margin-right: 8px;" ></i> 156
      </ng-template>
      <ng-template #likeAction>
        <i nz-icon nzType="like-o" style="margin-right: 8px;"></i> 156
      </ng-template>
      <ng-template #msgAction>
        <i nz-icon nzType="message" style="margin-right: 8px;"></i> 2
      </ng-template>
      <nz-list-item-meta [nzAvatar]="item.avatar" [nzTitle]="nzTitle">
        <ng-template #nzTitle>
          <a>{{ item.first_name +" "+ item.last_name }}</a>
        </ng-template>
      </nz-list-item-meta>
      <ng-template #extra>
        <img width="230" alt="logo" src="{{ item.avatar }}"/>
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
